* {margin: 0; padding: 0;}

body, h1, h2, h3, h4, h5, h6, p {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 300;
  background: #f5f3ee;
}

.clear {clear: both;}
h1 {float: left; margin: 0.5em; }
h2 {padding: 10px; border-bottom: 1px solid #fff;}
ul {list-style:none;}
p, li {font-size: 1.3em; padding: .5em 1em;}
.hide {position: absolute; margin-left: -9999px; height: 0.01em;}

#container {
  margin: 0 auto;
	width: 80%;
  max-width: 1000px;
	color: #333;
}

#container a {color: #333;}

header {clear: both; height: 5em; display: block;}

nav {height: 100%; float: right;}
nav ul {display: inline-block; vertical-align: middle;}
nav ul li {display: inline-block; }

/* Form Code */

:invalid {
  border-color: #e88;
  -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
  -moz-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  -o-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  -ms-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  box-shadow:0 0 5px rgba(255, 0, 0, .8);
}

:required {
  border-color: #88a;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  box-shadow: 0 0 5px rgba(0, 0, 255, .5);
}

form {
  width:300px;
  margin: 20px auto;
}

label {
  width:300px;
  display:block;
  margin-top:5px;

}

input, textarea, select {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none;
  font-size:20px;
  width:300px;
  min-height:30px;
  display:block;
  margin-bottom:15px;
  margin-top:5px;
  outline: none;

}

input[type="button"] {
  background: #4A96AD;
  color: #fff;
  padding: .5em 1em;
  font-size: 1.5em;
}

input[type=submit] {
  background:none;
  padding:10px;
}

input[type=checkbox], input[type=radio] {
  width: auto;
  margin-right: 0.5em;
  display: inline;
}
